.joke-button {
  display: block;
  margin: 15px auto;
  padding: 20px 40px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid green;
  color: green;
}

.flash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* поверх всего */
  pointer-events: none; /* чтобы кнопка оставалась кликабельной */
}
