.about-section {
  max-width: 768px; /* max-w-3xl */
  margin: 0 auto;
  text-align: center;
}

.about-title {
  font-size: 2rem; /* text-3xl */
  font-weight: bold;
  margin-bottom: 24px; /* mb-6 */
}

.about-text {
  color: whitesmoke; /* text-gray-700 */
  line-height: 1.6; /* leading-relaxed */
}
.download-btn {
  border: 1px solid rgb(0, 208, 0);
  border-radius: 12px;
  padding: 10px;
  transition: all 0.2s ease;
}
.download-btn:hover {
  background-color: rgba(0, 208, 0);
  color: black;
}
@media (max-width: 425px) {
  .about-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-title {
    flex: 1;
  }

  .download-btn {
    flex: 1;
    padding: 20px 30px 20px 30px;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    font-size: 1.5rem;
    margin: 0 auto 0 auto;
    border-radius: 40px;
  }
}
