.contact-section {
  padding: 20px 16px;
  margin: 0 auto;
  text-align: center;
}

.contact-title {
  font-size: 2rem; /* text-3xl */
  font-weight: bold;
  margin-bottom: 24px; /* mb-6 */
}

.contact-text {
  margin-bottom: 24px;
  color: #4a5568;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.contact-link {
  color: rgb(0, 208, 0);
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}
