.contact-section {
  margin: 0 auto;
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 24px;
}

.contact-text {
  color: #4a5568;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 15px;
}

.contact-link {
  color: rgb(0, 208, 0);
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .contact-links {
    font-size: 1.3rem;
  }
  .contact-link {
    border: 1px solid rgb(0, 208, 0);
    padding: 15px;
    border-radius: 25px;
  }
  .contact-link:hover {
    background-color: rgba(0, 208, 0);
    color: black;
    text-decoration: none;
  }
  .contact-link:active {
    background-color: rgba(0, 208, 0);
    color: black;
  }
}
