.contact-section {
  margin: 0 auto;
  text-align: center;
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 24px;
}

.contact-text {
  color: #4a5568;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 15px;
}

.contact-link {
  color: rgb(0, 208, 0);
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}
