.nav {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 4rem;
  justify-content: flex-end;
}

.myname {
  padding-left: 10px;
  font-size: 7rem;
  font-weight: 900;
  flex: 2;
  color: rgb(209, 255, 202);
  text-shadow: 0 0 6px rgb(38, 255, 0), 0 0 12px rgb(38, 255, 0),
    0 0 23px rgb(38, 255, 0);
}

.nav a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.nav a:hover {
  color: aliceblue;
  text-shadow: 0 0 8px rgb(38, 255, 0), 0 0 15px rgb(38, 255, 0),
    0 0 25px rgb(38, 255, 0);
}

@media (max-width: 425px) {
  .nav {
    display: none;
  }
  .myname {
    font-size: 5rem;
    text-align: center;
    justify-content: center;
    padding: 0;
  }
}
