.footer {
  padding: 24px 0; /* py-6 */
  text-align: center;
  color: #6b7280; /* text-gray-500 */
  border-top: 1px solid #e5e7eb10; /* border-t */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}
@media (max-width: 430px) {
  .footer {
    display: none;
  }
}
