html {
  scroll-behavior: smooth;
}
#root,
.map,
.map-cont,
section {
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
}
button:focus {
  outline: none;
}
.h1 {
  flex: 1;
}
.nav {
  flex: 2;
  align-items: end;
}
.gamebut {
  display: block;
  color: rgb(0, 208, 0);
  margin: 10px auto;
  border: 1px solid rgb(0, 208, 0);
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
}
.gamebut:hover {
  background-color: rgba(0, 208, 0);
  color: black;
}
.gamebut:focus {
  outline: none;
}
.gamebut:active {
  background-color: aliceblue;
  box-shadow: 0 0 8px rgb(38, 255, 0), 0 0 15px rgb(38, 255, 0),
    0 0 25px rgb(38, 255, 0);
  border: none;
}
@media (max-width: 430px) {
  body {
    padding-bottom: 85px;
  }
  .gamebut {
    font-size: 1.5rem;
    border-radius: 40px;
    padding: 20px;
  }
}
